{% extends 'base.html' %}
{% block title %}Repos Awaiting Review{% endblock %}

{% block content %}
<h1 class="mb-4">Repos Awaiting Review</h1>

{% if students %}
  <ul class="list-group">
    {% for s in students %}
      <a class="list-group-item d-flex justify-content-between align-items-center"
         href="{{ url_for('student_detail', repo=s['repo_name']) }}">
        {{ s['repo_name'] }}
        <span class="badge rounded-pill
                     {{ 'bg-success' if s['red_flag']==0 else 'bg-danger' }}">
          {{ s['cnt'] }}
        </span>
      </a>
    {% endfor %}
  </ul>
{% else %}
  <div class="alert alert-info">Nothing to review 🎉</div>
{% endif %}
{% endblock %}